<?php
$AUTOCONFIG = [
  "directory"     => "/var/www/html/nextcloud/data",
  "dbtype"        => "mysql",
  "dbname"        => "nextcloud",
  "dbuser"        => "nextcloud",
  "dbpass"        => "password",
  "dbhost"        => "db01.wtd.local",
  "dbtableprefix" => "",
  "adminlogin"    => "nc-admin",
  "adminpass"     => "password",
];
